body {
    background-color:#E4B7A0;
    color: #52688F;
    font-family: Helvetica;
    font-size: 17px;
}
.reverse {
    background-color: #E4B7A0 !important;
    color: #F4EAE6;
}
p {
    padding: 26px;
}